
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@500&family=Reddit+Mono:wght@200..900&family=Roboto&display=swap'); */


/* GLOBALS */

:root {
  --first-base-color: #f3f3f3;
  --second-base-color: whitesmoke;
  --pop-color: #8f298a;
  --action-color: #fc00d2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}
.poppins-medium {

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: var(--first-base-color);
} 

header, footer {
  background-color: var(--first-base-color);
  color: var(--pop-color);
  text-align: center;
  padding: 5px 5px;


}
h1, h2, h3, h4, h5 {
  font-weight: 600;
  font-style: normal;
  padding: 0.5rem;
  margin: 0px 20px 0px 10px;
  align-items: center;
} 
.col {
  padding: 10px;
}

p, label {
  color: #3d4f61;
  font-size: 19px;
}

.card-login {
  background-color: #e6c4e3;
}
button, .submit input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 7px 13px;
  background-color: var(--pop-color);
  color: whitesmoke;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

input, label {
  padding: 5px;
  margin: 10px 30px 10px 30px;
}
.btn-danger {
  background-color: crimson;
}

a {
  font-size: 18px;
  color: var(--pop-color);
} 
.media-comunidades {
  background-color: whitesmoke;
}
code {
    font-family: monospace;
    font-weight: bold;
    font-size: 17px;
    color: var(--pop-color);
    padding: 20px;
  }

  .container-fluid {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    max-width: 1296px; 
    width: 100%; 
    margin: 0 auto; 
}


.card {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
} 

/* HOVER CHANGES */

a:hover {

  color: var(--action-color);
} 

button:hover, .submit:hover {
  background-color: var(--action-color);

}

.btn-danger:hover  {
  background-color: rgb(255, 0, 0);
}

/* NAVBAR */

nav {
  font-size: 15px;
  background-color: var(--first-base-color);
}
.nav-link {
  color: var(--pop-color);
}

.nav-link:hover {
  color: var(--action-color);
}

#nav-toggle-btn {
  border-color: var(--pop-color);
  
}
.navbar-brand {
align-items: end;
flex: 0 0 30%;
max-width: 30%; 
}

#navbarScroll {
flex: 0 0 70%; 
max-width: 70%; 
}



/*
BREAK POINTS
*/

@media screen and (max-width:1230px){
  .space {
    display: none;
  }
} 

@media screen and (max-width:500px){

  .space2 img, .front img {
    width:100%;
    height: auto;

  }
} 

@media screen and (max-width:515px){
  .hidden-mobile {
    display: none;
  }
} 

@media screen and (min-width:515px){
  .show-mobile {
    display: none;
  }
} 
/*
#19946E    verde
#195D94    azul lindo
#691512     shade of burdeo
#470E0C     shade of burdeo
*/


/*  ROOM LAYOUT */

.create-room.layout .layout__box {
  max-width: 68rem;
}
.delete-item.layout .layout__box {
  max-width: 68rem;
}

.form__group {
  background-color: white;
  margin-bottom: 2rem;
  width: 100%;
}

.form__split {
  display: flex;
  gap: 1.5rem;
}

.form__group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.form__group input,
.form__group textarea,
.form__group select {
  background-color: white;
  border: 1px solid var(--color-dark-light);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: var(--color-light);
  font-weight: 500;
  outline: none;
}

.form__group input:focus,
.form__group textarea:focus {
  border-color: var(--pop-color);
}

.form__group textarea {
  background-color: white;
  height: 20rem;
  resize: none;
}

.form__group select {
  font-weight: 400;
}

.form__group select option {
  background-color: var(--pop-color);
  color: var(--pop-color);
  padding: 0 10rem;
}

.form__action {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.form__hide {
  position: absolute;
  left: -9999px;
}

.form__avatar label {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}

.form__avatar label:hover {
  text-decoration: underline;
}

.field {
  background-color: whitesmoke;
}