{% extends 'layout.html' %}
{% block content %}

<div class="container">
  <h1>Nuevo Registro de Intervención</h1>
  <form method="POST" action="">
    {% csrf_token %}
    <div class="container">
      {{form.as_p}}
    </div>
    <input class="submit" type="submit" value="Guardar" />


{% endblock content %}


<div class="form__group">
  <label>Ingrese comuna: </label>
  <input required type="text" value="{{registro_intervencion.comuna.nombre}}" name="topic" list="comuna-list" />
  <datalist id="comunas">
    <select id="registro_intervencion.comuna">
      {% for comuna in comunas %}
      <option value="{{comuna.nombre}}">{{comuna.nombre}}</option>
      {% endfor %}
    </select>
  </datalist>
</div>


<div class="form__group">
  <label for="room_name">Room Name</label>
  {{form.name}}
</div>

<div class="form__group">
  <label for="room_description">Room Description</label>
  {{form.description}}
</div>

<div class="form__action">
  <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Cancel</a>
  <button class="btn btn--main" type="submit">Submit</button>
</div>



    
<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{% url 'home' %}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
          <h3>Crea/Actualiza Registro de Intervencion</h3>
        </div>
      </div>
      <div class="layout__body">
        <form class="form" method="POST" action="">
          {% csrf_token %}
          {% for field in form %}
          <div class="form__group">
            <label> {{ field.label }}</label>
            {{ field }}
            <input type="text">
          </div>
          {% endfor %}

        </form>
      </div>
      <button type="submit">Guardar Registro</button> 

    </div>
  </div>
</main>
</form>
</div>
