{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <div class="container">
            <h1>{{comunidad.nombre}}</h1>
            <p>{{comunidad.descripcion}}</p>

            <div class="card">
                <h3>Conversacion</h3>
                <hr>
                {% for mensaje in comunidad_mensajes %}
                <div class="card-body">
                    {% if request.user == mensaje.usuario %}
                    <a href="{% url 'eliminar_mensaje' mensaje.id %}">Eliminar</a>
                    {% endif %}
                    <small>@{{mensaje.usuario}} -- hace {{mensaje.created | timesince}}</small>
                    <p>{{mensaje.body}}</p>
                    <hr>
                </div>
                {% endfor %}
            

            <div class="comment-form">
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="text" name="body" placeholder="Escribe tu mensaje aqui" />
                </form>
            </div>
        </div>
        </div>
        <div class="col-sm-4">
            <h3>Participantes</h3>
            {% for usuario in participantes %}
            <div>
                <p>{{usuario.nombre}}</p>
            </div>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}