{% extends 'layout.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <h1 style="text-align: center;"> Dashboard de Indicadores</h1>

    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body rounded-9">
          <h5 class="card-title">Estadistica Beneficiarias</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
          <br>
          <a href="{% url 'chart_beneficiarias' %}">
            <button>Indicadores Beneficiarias</button></a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Estadistica Registros y Derivaciones</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
          <br>
          <a href="{% url 'graficos' %}">
            <button>Registros y Derivaciones</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}