{% extends 'layout.html' %}
{% block content %}
<div class="container">
<h1>Tus Derivaciones</h1>
<a href="{% url 'ingresar_derivacion'%}"><button>Ingresar nueva Derivación</button></a>
<a href="{% url 'tus_derivaciones'%}"><button>Ver Derivaciones Emitidas</button></a>

<br>
<br>

    <div class="container">
        <h2>Derivaciones Recibidas</h2>
        {% for derivacion in derivaciones %}
        <div class="card">
            <div class="card-title">
            <h5>Desde Programa {{derivacion.profesional_derivante.programa}} - {{derivacion.profesional_derivante.programa.comuna}}</h5>
            <h4>Derivación a {{ derivacion.programa_destino }}-- {{ derivacion.beneficiaria }} {{ derivacion.beneficiaria.nombre }} {{ derivacion.beneficiaria.apellido }}  </h4>
        </div>
        <div class="card-body">
            <p> Resumen: {{ derivacion.descripcion }} </p>
            <p> Casos Judicializados: {{ derivacion.casos_judicializados }} </p>
            <a href="{% url 'actualizar_derivacion' derivacion.id %}"><button>Editar</button></a>
            <a href="{% url 'eliminar_derivacion' derivacion.id %}"><button class="btn-danger">Eliminar</button></a>
        </div>
        </div>
        <br>
        {% endfor %}
    </div>
    <div class="container">

    </div>
</div>
{% endblock %}