{% extends 'layout.html' %}
{% block content %}

<div class="container">

    <h2>Bienvenida/o</h2>
    <br />
  
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img src="#" class="card-img-top" alt="...">
          <div class="card-body rounded-9">
            <h5 class="card-title">Tus Beneficiarias</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <br>
            <a href="{% url 'tus_beneficiarias' %}">
            <button>Ver Beneficiarias</button></a>
          </div>
        </div>
      </div>
  
      <div class="col-sm-4">
        <div class="card">
          <img src="#" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tus Registros</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <br>
            <a href="{% url 'tus_registros' %}">
              <button>Ver Registros de Intervención</button></a>
          </div>
        </div>
      </div>
  
      <div class="col-sm-4">
        <div class="card">
          <img src="#" class="card-img-top" alt="..." width="300">
          <div class="card-body">
            <h5 class="card-title">Tus Derivaciones</h5>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
            <br>
            <a href="{% url 'tus_derivaciones' %}">
              <button>Ver Derivaciones</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    {% for comunidad in comunidades %}
    <div>
        <h5>{{comunidad.id}} -- <a href=" url 'comunidades' {{comunidades.id}}"> {{comunidad.nombre}} </a></h5>
    </div>
    {% endfor %}
</div>

{% endblock %}