{% extends 'layout.html' %}
{% block content %}

<div class="container">
<br>
    <h1 style="text-align: center;">Bienvenida a Centro Violeta &#128075;</h1> 
    <h5 style="text-align: center;"> Un sistema de gestión para los programas de prevención en violencia de género</h5>
    <br>
    <p style="text-align: center;">Revisa todo lo que puedes hacer aquí {% include 'offcanvas_component.html' %}</p> 

    <br>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <div class="card text-center">
          <img src="/static/img/beneficiarias_home.svg" class="card-img-top" alt="...">
          <div class="card-body rounded-9">
            <h5 class="card-title">Tus Beneficiarias</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <br>
            <a href="{% url 'tus_beneficiarias' %}">
            <button>Ver Beneficiarias</button></a>
          </div>
        </div>
      </div>
  
      <div class="col-sm-4">
        <div class="card text-center">
          <img src="/static/img/registros_home.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tus Registros</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <br>
            <a href="{% url 'tus_registros' %}">
              <button>Ver Registros de Intervención</button></a>
          </div>
        </div>
      </div>
  
      <div class="col-sm-4">
        <div class="card text-center">
          <img src="/static/img/derivaciones_home.svg" class="card-img-top" alt="..." width="300">
          <div class="card-body">
            <h5 class="card-title">Tus Derivaciones</h5>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
            <br>
            <a href="{% url 'tus_derivaciones' %}">
              <button>Ver Derivaciones</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
<br><br>
<div class="container">
  <div class="container-fluid"><h2>Explora comunidades</h2><a href="{% url 'explora_comunidades' %}"><button>Ver Todo</button></a></div>
  <br>
    {% for comunidad in comunidades %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{comunidad.id}} -- <a href="{% url 'comunidad' comunidad.id %}"> {{comunidad.nombre}} </a></h5>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
          <br>
          <a href="{% url 'tus_derivaciones' %}"></a></div></div><br>
    {% endfor %}


{% endblock %}