{% extends 'layout.html' %}


{% block content %}

<div class="container">
    <form method="POST" action="">
        {% csrf_token %}

        <div class="container">
            <label>Email:</label>
            <input type="text" name="email" placeholder="Escriba Email">
        </div>

        <div class="container">
            <label>Contraseña:</label>
            <input type="password" name="password" placeholder="Escriba Contraseña">
        </div>

        <div class="container">
            <input class="submit" type="submit" value="Login" />
        </div>
    </form>
    <p>*Recuerda que debes iniciar sesion antes de poder hacer cualquier accion en la plataforma</p>

</div>

{% endblock %}


