{% extends 'layout.html' %}
{% block content %}
<div class="container">
<h1>Tus Beneficiarias Registradas</h1>
<a href="{% url 'ingresar_beneficiaria'%}"><button>Ingresar nueva Beneficiaria</button></a>
<br>
<br>
    <div>
        {% for beneficiaria in beneficiarias %}
        <div class="card">
            <div class="card-title">
            <h5>{{ beneficiaria.nombre }} {{ beneficiaria.apellido }} -- RUT: {{ beneficiaria.rut }}</h5>
        </div>
        <div class="card-body">
            <p> Ingresada por: {{ beneficiaria.profesional_que_ingresa }}</p>
            <p>Fecha Nacimiento: {{ beneficiaria.fecha_nacimiento }}</p>
            <p> Situación Laboral: {{ beneficiaria.situacion_laboral }}</p>
            <p> Número de hijos: {{ beneficiaria.numero_hijos }}</p>
            <p> Casos Judicializados: {{ beneficiaria.casos_judicializados }}</p>
            <a href="{% url 'actualizar_beneficiaria' beneficiaria.id %}"><button>Editar</button></a>
            <a href="{% url 'eliminar_beneficiaria' beneficiaria.id %}"><button class="btn-danger">Eliminar</button></a>
        </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>
{% endblock %}